# Fasta
*.fa
*.fasta

# Python binaries
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
*.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim
*.sw[a-z]
*.un~
Session.vim
.netrwhist
*~

# rope
.ropeproject/

# celery
celerybeat-schedule

# Log files
*.log

# ??
tests/requests

# yasara
install_yasara*
*.sce

*.pdb
